/*
Colors used:
Primary Color (off white): #f5f5f5;
Secondary Color (dark grey): #565457;
*/

body {
    font-family: 'poppins', lato;
    font-size: '16px';
    font-weight: 300;
    line-height: 1.6;
    color: #565457;
    background-color: #f5f5f5;
    padding: 20px;
}

header {
    display: flex;
    align-items: center;    
    justify-content: flex-start; 
    background-color: #e2e2e2;
    padding: 10px;
    margin-bottom: 60px;
}

.logo {
    max-width: 100px;
    height: auto; 
    display: block; 
}
nav {
    margin-left: 20px; /* Adds 20px space between the logo and the navigation */
}

h1,
h2,
h3,
h4 {
    line-height: 1.4;
    margin-bottom: 20px;
}
h1 {
    font-size: 2.75em;
    font-weight: 700;
}
h3 {
    font-size: 1.75em;
    font-weight: 400;
}
h4 {
    font-size: 1.35em;
    font-weight: 400;
}
img {
    width: 100%;
    margin-bottom: 20px;
}
p { margin-bottom: 20px;
}

main a, footer a {
    color: #5fafff;
    text-decoration: none;
}
main a:hover, footer a:hover {
        color: #bc6afb;
}

main a:visited, footer a:visited {
    color: #2775b4;
    margin-bottom: 10px;
}

main a:focus,
footer a:focus {
    color: #a64ef8;
    outline: 2px solid #bc86ef;
}

nav a {
    color: #565457;
    text-decoration: none;
}


nav a:hover {
    color: #5fafff;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

nav li {
    display: inline;
    margin-right: 40px;
}

main .button {
    display: inline-block;
    background-color: #565457;
    color: #f2f2f2;
    text-align: center;
    font-weight: 400;
    padding: 10px;
    border-radius: 10px;
    border-bottom: 2px solid #a64ef8;
    transition: 0.2s opacity;
    margin-bottom: 10px;
    margin-top: 10px;
}

main .button:hover {
    opacity: 0.8;
    text-decoration: none;
}
.button.contact {
    background-color: transparent;
    color: #5fafff;
    text-transform: uppercase;
    border: 2px solid #a64ef8;
}

.button.contact:hover {
    background-color: #a64ef8;
    color: #f2f2f2;
}

.centered-header h1 {
    text-align: center;
}

img {
    border-radius: 20px;
}
