*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'poppins', lato;
    font-size: '16px';
    font-weight: 300;
    line-height: 1.6;
    color: #565457;
    background-color: #ffffff;
    padding: 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Allows space between logo and menu icon on mobile */
    background-color: #424242;
    padding: 10px;
    position: relative;
}

.navtoggle {
    display: none;
    text-align: center;
}

.navtoggle .icon {
    display: block;
    cursor: pointer;
    color: #f5f5f5
}

.navtoggle.responsive nav {
    display: block; /* Will display the nav when .responsive is added via JS */
    position: absolute;
    width: 100%;
    top: 100%; /* Positions right below the header */
    left: 0;
    background-color: #424242; /* menu is visually separated from content below */
    z-index: 1000; /* menu is above other content */
    
}

.navtoggle nav ul {
    flex-direction: column; /* Stacks the links vertically */
    width: max-content;
    padding: 0;
    margin: 0;
    background-color: #424242;
    text-align: center;
    position: absolute;
    right: 20px;
}

.navtoggle nav li {
    text-align: center; 
}

.navtoggle nav a {
    color: #ececec;
    text-decoration: none;
    display: block;
    padding: 10px; 
    white-space: nowrap;
}

.navtoggle nav a:hover {
    background-color: #fb8a4d; 
}


#hero {
    background-color: #f5f5f5;
    padding-top: 0;
    text-align: center;
    padding: 20px;
    padding-top: 60px;
    display: inline-block;
    width: 100%
      }


.content-section {
    background-color: #f5f5f5;
    padding: 20px;
}

.logo {
    max-width: 80px;
    height: auto;
    display: block;
}



nav {
    margin-left: 20px;
}

h1 {
    font-size: 2.75em;
    font-weight: 700;
    }


h1,
h2,
h3,
h4 {
    line-height: 1.4;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.75em;
    font-weight: 400;
}

h4 {
    font-size: 1.35em;
    font-weight: 400;
}

img {
    width: 100%;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

main { 
    margin-top: 0;
}

.row { 
    background-color: #f5f5f5;
    padding: 20px;
}

main a,
footer a {
    color: #acff5f;
    text-decoration: none;
}

main a:hover,
footer a:hover {
    color: #8fe340;
}

main a:visited,
footer a:visited {
    color: #edaa02;
    margin-bottom: 10px;
}

main a:focus,
footer a:focus {
    color: #b268f8;
    outline: 2px solid #fb7575;
}

nav a {
    color: #ececec;
    text-decoration: none;
}


nav a:hover {
    color: #acff5f;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

nav li {
    display: inline;
    margin-right: 10px;
}


main .button {
    display: inline-block;
    background-color: #acff5f;
    color: #424242;
    text-align: center;
    font-weight: 400;
    padding: 10px;
    border-radius: 10px;
    border-bottom: 2px solid #fb8148;
    transition: 0.2s opacity;
    margin-bottom: 10px;
    margin-top: 10px;
    transition-duration: 0.3s;
    transition-property: opacity;
}

main .button:hover {
    background-color: #8fe340;
    color: #424242;
    text-decoration: none;
    opacity: 0.5;
}

.button.contact {
    background-color: #acff5f;
    color: #424242;
    font-weight: 400;
    text-align: center;
    padding: 10px;
    margin-right: 20px;
    border-radius: 10px;
    text-transform: uppercase;
    border-bottom: 2px solid #fb8148;
    transition-duration: 0.3s;
    transition-property: opacity;
}

.button.contact:hover {
    background-color: #8fe340;
    color: #424242;
    font-weight: 400;
    padding: 10px;
    margin-right: 10px;
    border-radius: 10px;
    text-align: center;
    border-bottom: 2px solid #fb8148;
    opacity: 0.5;
}


.centered-header h1 {
    text-align: center;
}

img {
    border-radius: 20px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #424242;
    color: #f5f5f5
}

.footer-text {
    flex: 1;
    margin-right: 10px;
}

.footer-actions {
    display: flex;
    align-items: center;
    gap: 50px;
}

.footer-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}


/* Specific styles for mobile devices */
@media (max-width: 640px) {
    .navtoggle {
        display: block;
    }

    .navtoggle .icon {
        display: block; /* icon is visible */
    }

    .navtoggle.responsive nav {
        display: block;
        background-color: #333; 
    }

    .navtoggle.responsive li a {
        display: block; /* Stack the links vertically */
        padding: 10px;
        color: white;
    }

    nav {
        display: none; /* Hide regular navigation on small screens */
    }
}

/* Styles for tablets and larger screens */
@media (min-width: 641px) {
    .navtoggle {
        display: none; 
    }

    header {
        justify-content: flex-start;
    }

    nav ul {
        display: flex; 
        justify-content: center;
    }
}
   
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
    .col-md-6 {
        width: 50%;
      }
      [class*="col-"] {
        float: left;
        padding: 10px;
      }
      .row::after {
        content: "";
        clear: both;
        display: table;
      }  

}


/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
    .col-lg-5 {
        width: 41.66%;
      }
   
    .col-lg-7 {
        width: 58.33%;
      }

    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
      }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
   body {
    font-size: '18px';
   }
    .col-lg-5 {
        width: 41.66%;
      }
   
    .col-lg-7 {
        width: 58.33%;
      }

    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
      }

}


@keyframes colorCycle {
    0%, 100% {
        fill: #ff47f0;
    }
    33% {
        fill: #6746b4;
    }
    67% {
        fill: #327acd;
    }
}

.color-change {
    animation: colorCycle 6s infinite linear;
    width: 100%;
    max-width: 100%;
    height: auto;
}